@charset "utf-8";//编码设置

//---------------------------------列表页css-----------------

//---------------------------nav-----------------------------

//--------------------------navOne---------------------------
#navOne{
    height:30px;
    width:100%;
    background:#333333;
    .navOne{
        height:30px;
        // background:skyblue;
        .navOnel{
            height:30px;
            color:#DBDBDB;
            font-size:12px;       
            line-height:30px;
            a{color:#E5004A;}
        }
        .navOner .navOnerli{
            margin-left:25px;
            font-size:12px;
            height:30px;
            line-height:30px;    
            a{color:#DBDBDB;}
        }
        .navOner li i{
            display:inline-block;
            height:12px;
            width:14px;
            background:url(../img/index/index.png) no-repeat -10px 6px;
        }
        .navOner li:nth-child(4),.navOner li:nth-child(5){
            margin-left:0;
        }
        .navOner li:nth-child(3),.navOner li:nth-child(4){
            width:90px;
            position:relative;
        }
        .navOner #ulone{
            display:none;
            position:absolute;
            top:30px;
            left:-10px;
            li{
                display:block;
                height:30px;
                background:#333333;
                width:80px;
                text-align:center;
                line-height:30px;
            }
        }
        .navOner #ultwo{
            background:#333333;
            display:block;
            height:260px;
            width:130px;
            padding:10px 0 0 10px;
            position:absolute;
            left:-40px;
            top:30px;
            display:none;
            li:nth-child(1){
                display:block;
                height:130px;
                width:140px;
                background:url(../img/index/app.jpg) no-repeat;
            }
            li:nth-child(2){
                display:block;
                height:130px;
                width:140px;
                background:url(../img/index/weixin.jpg) no-repeat;
            }
        }
        .navOner li:last-child{font-weight:bolder;width:105px;}
        .navOner #ulthr{
            display:none;
            li{
                height:30px;
                width:104px;
                line-height:30px;
                text-align:center;
                color:#DBDBDB;
                font-size:12px;
                background:#333333;
                font-weight:normal;
            }
            li:nth-child(2){font-weight:bolder;}
        }
    }
}
//--------------------------navTwo---------------------------
#navTwo{
    height:123px;
    width:100%;
    background:#FFFFFF;
    .navTwo{
        height:88px;
        padding-top:35px;
        // background:skyblue;
        .navTwol{
            margin-right:112px;   
        }
        .navTwoc{
            margin-right:131px;
            .navSearch{
                background:#E5004A;
                border-top:4px solid #E5004A;
                border-bottom:4px solid #E5004A;
                margin-bottom:12px;
                span:nth-child(1){
                    display:inline-block;
                    width:35px;
                    height:32px;
                    vertical-align:middle;
                    background:url(../img/index/index.png) no-repeat 7px -14px;
                }
                input{
                    height:32px;
                    width:441px;
                }
                span:nth-child(3){
                    display:inline-block;
                    height:32px;
                    width:103px;
                    line-height:32px;
                    text-align:center;
                    font-size:18px;
                    color:#FFFFFF;
                }
            }
            .navTips{
                font-size:12px;
                color:#666666;
                .navTipsk{
                    display:inline-block;
                    margin-left:20px;
                }
            }
        }
        .navTwor{
            background:#E5004A;
            border-top:2px solid #E5004A;
            border-right:2px solid #E5004A;
            border-bottom:4px solid #E5004A;
            span{
                display:inline-block;
                height:33px;
                vertical-align:middle;
            }
            span:nth-child(1){
                width:33px;
                background:url(../img/index/index.png) no-repeat 8px -47px;
            }
            span:nth-child(2){
                width:72px;
                color:#FAFFDC;
                font-size:12px;
                line-height:33px;
                text-align:center;
            }
            span:nth-child(3){
                width:36px;
                background:#FFFFFF;
                font-size:10px;
                color:#E5004A;
                font-weight:bolder;
                text-align:center;
                line-height:33px;
            }
        }
    }      
}
//--------------------------navThr---------------------------
#navThr{
    height:38px;
    width:100%;
    border-bottom:1px solid #E5004A;
    .navThr{
        height:38px;
        // background:skyblue;
        .navThrl{ 
            position:relative;
            .navThrls{
                height:38px;
                width:195px;
                line-height:38px;
                font-size:12px;
                color:#FAFFFF;
                background:#E5004A;
                padding-left:15px;   
            }
            .navThrlx{
                    height:447px;
                    width:208px;
                    background:#E5004A;
                    display:block;
                    padding-left:2px;
                    display:none;
                    // position:absolute;
                    // top:0;
                    // left:0;
                .ulThrlx{
                    width:208px;
                    height:447px;
                    background:url(../img/index/navThr.jpg) no-repeat 0px 415px;
                    li{
                        display:block;
                        height:42px;
                        width:208px;
                        position:relative;
                        i:nth-child(1){
                            height:17px;
                            width:17px;
                            display:inline-block;
                            background:url(../img/index/index.png) no-repeat;
                            position:absolute;
                            left:14px;
                            top:14px;
                        }
                        span{
                            display:inline-block;
                            line-height:42px;
                            font-size:12px;
                            color:#FFFFFF;
                            position:absolute;
                            left:47px;
                            top:0px;
                        }
                        i:nth-child(3){
                            width:4px;
                            height:6px;
                            position:absolute;
                            left:180px;
                            top:18px;
                            background:url(../img/index/index.png) no-repeat 0 -141px;
                        }
                    }
                    li:nth-child(1) i:nth-child(1){
                        background-position:0 -157px;
                    }
                    li:nth-child(2) i:nth-child(1){
                        background-position:0 -183px;
                    }
                    li:nth-child(3) i:nth-child(1){
                        background-position:0 -216px;
                    }
                    li:nth-child(4) i:nth-child(1){
                        background-position:0 -243px;
                    }
                    li:nth-child(5) i:nth-child(1){
                        background-position:0 -273px;
                    }
                    li:nth-child(6) i:nth-child(1){
                        background-position:0 -303px;
                    }
                    li:nth-child(7) i:nth-child(1){
                        background-position:0 -333px;
                    }
                    li:nth-child(8) i:nth-child(1){
                        background-position:0 -363px;
                    }
                    li:nth-child(9) i:nth-child(1){
                        background-position:0 -393px;
                    }
                    li:nth-child(10) i:nth-child(1){
                        background-position:0 -423px;
                    }

                }
            }
        }
        .navThrr{
            li{
                height:38px;
                font-size:14px;
                font-weight:bolder;
                color:#333333;
                line-height:38px;
                margin-left:60px;
            }
            li:nth-child(4){
                width:104px;
                i{
                    display:inline-block;
                    width:30px; 
                    height:38px;
                    background:url(../img/index/index.png) no-repeat -115px -385px;
                    vertical-align:middle;
                } 
            }
        }
    }
}

//---------------------------main-----------------------------
//------------------------------mainOne--------------------
#mainOne{
    height:56px;
    width:100%;
    background:#F3F3F3;
    .mainOne{
        height:56px;
        // background:skyblue;
        line-height:56px;
        span{
            display:inline-block;
            height:12px;
            font-size:12px;
            color:#666666;
        }
        span:nth-child(1){
            margin-left:10px;
        }
    }  
}
//------------------------------mainTwo--------------------
#mainTwo{
    // height:2597px;
    width:100%;
    background:#F3F3F3;
     .mainTwo{
        // height:2597px;
        .mainTwol{
            width:185px;
            background:#FFFFFF;
            padding-top:10px;
            padding-left:20px;
            margin-right:10px;
            dl{
                dt{
                    height:20px;
                    width:164px;
                    border-bottom:1px solid #E5E5E5;
                    position:relative;
                    span{
                        // display:block;
                        font-size:14px;
                        font-weight:bolder;
                        color:#666666;
                        border-bottom:2px solid #E5004B;
                        position:absolute;
                        bottom:-2px;
                        left:0;
                    }
                }
                dd{
                    height:40px;
                    width:164px;
                    border-bottom:1px solid #E5E5E5;
                    font-size:12px;
                    color:#666666;
                    text-align:center;
                    line-height:40px;
                }
                dd:last-child{
                    border-bottom:0;
                }
            }
        }
        .mainTwor{
            width:985px;
            // height:2597px;
            // background:skyblue;
            .mainTwora,.mainTworb{
                width:970px;
                height:50px;
                background:#FFFFFF;
                line-height:50px;
                padding-left:15px;
                margin-bottom:3px;
                dl{
                    dt,dd{
                        float:left;
                        font-size:12px;
                    }
                    dt{
                        margin-right:38px;
                        font-weight:bolder;
                    }
                    dd{
                        margin-right:32px;
                        color:#666666;
                    }
                }
            }
            .mainTworb{
                height:36px;
                line-height:36px;
                margin-bottom:10px;
            }
            .mainTworc{
                .mainTwors{
                    height:346px;
                    width:216px;
                    background:#FFFFFF;
                    float:left;
                    padding:40px 10px 10px 10px;
                    margin-right:10px;
                    margin-bottom:10px;
                    // border:3px solid #E5004B;
                    img{
                        height:200px;
                        width:200px;
                    }
                    p:nth-child(2){
                        font-size:12px;
                        line-height:24px;
                        margin-bottom:16px;
                        width:212px;
                        height:42px;
                        overflow: hidden;
                        span:nth-child(1){
                            font-weight:bold;
                            color:#E5004B;
                        }
                        span:nth-child(2){
                            color:#666666;
                        }
                    }
                    p:nth-child(3){
                        margin-bottom:16px;
                        span:nth-child(1){
                            font-size:12px;
                            font-weight:bold;
                            color:#E5004B;
                        }
                        span:nth-child(2){
                            font-size:10px;
                            color:#A2A2A2;
                            margin-right:60px;
                        }
                        span:nth-child(3){
                            font-size:12px;
                            color:#E5004B
                        }
                    }
                    .mainNum{
                        font-size:0;
                        span{
                            display:inline-block;
                            vertical-align:middle;
                            border:1px solid #EAEAEA;
                            height:32px;
                            margin-right:4px;
                        }
                        span:nth-child(1){
                            height:31px;
                            width:42px;  
                            padding:1px 0 0 1px;
                            input,a{
                                float:left;
                            }
                            input{
                                width:30px;
                                height:30px;
                                text-align:center;
                                line-height:30px;
                            }
                            a{
                                width:11px;
                                height:14px;
                                background:#EAEAEA;
                                text-align:center;
                                line-height:14px;
                                display:block;
                                margin-bottom:2px;
                                color:#666666;
                                font-size:12px;
                            }
                        }
                        span:nth-child(2),span:nth-child(3){
                            color:#666666;
                            font-size:12px;
                            line-height:32px;
                            text-align:center;
                            background:#F6F6F6;
                        }
                        span:nth-child(2){width:111px;}
                        span:nth-child(3){width:42px;}        
                    }
                }
            }
            .mainTword{
                width:985px;
                height:42px;
                // background:yellow;
                padding:20px 0 0 0;
                a{
                    padding:6px 9px;
                    display:inline-block;
                    font-size:12px;
                    border:1px solid #DDDDDD;
                    border-radius:5px;
                    float:left;
                    margin-right:5px;
                }
            }
        }
    }
}

//---------------------------footer-----------------------------
#footerOne{
    width:100%;
    height:108px;
    background:#E5004B;
    .footerOne{
        height:78px;
        // background:skyblue;
        width:1130px;
        padding:30px 0 0 70px;
        img{
            margin-right:140px;
        }
        img:last-child{
            margin-right:0;
        }
    }
}
#footerTwo{
    height:161px;
    width:100%;
    background:#333333;
    border-bottom:1px solid #666666;
    .footerTwo{
        height:131px;
        width:1200px;
        // background:skyblue;
        padding-top:30px;
        dl,div{
            float:left;
        }
        dl{
            width:170px;
            border-right:1px solid #666666;
            text-align:center;
            dt{
                font-size:12px;
                color:#DBDBDB;
                font-weight:bold;
                line-height:26px;
            }
            dd a{
                font-size:11px;
                color:#666666;
                line-height:26px;
            }
        }
    }
}
#footerThr{
   width:100%;
   height:158px;
   background:#333333;
   .footerThr{
    height:142px;
    // background:skyblue;
    padding-top:16px;
    text-align:center;
        p:nth-child(1){
            margin-bottom:6px;
            a{
                font-size:12px;
                color:#666666;
                display:inline-block;
                width:68px;
                border-right:1px solid #666666;
            }
            a:last-child,a:first-child{
                border-right:0;
            }
        }
        p:nth-child(2){margin-bottom:20px;}
        p:nth-child(2) a,p:nth-child(3){
            font-size:12px;
            color:#666666;
        }
        p:nth-child(3){margin-bottom:4px;}     
   }  
}

// nav_right
#nav_right{
    height:728px;
    width:34px;
    background:skyblue;
    position:fixed;
    right:0;
    top:0;
}