@charset "utf-8";//编码设置

//--------------------------------注册登录页css--------------------
// -------------------------------reglogTop----------------------
#reglogTop{
    width:100%;
    height:104px;
    background:#F2F2F2;
    .reglogTop{
        height:104px;
        // background:red;
        position:relative;
        background:url(../img/reglog/reglogbg.png) no-repeat 189px 30px;
        img,p{
            float:left;
        }
        img{
            position:absolute;
            left:0;
            top:20px;
        }
        p{
            font-size:26px;
            // font-weight:bold;
            color:#333333;
            position:absolute;
            top:43px;
            left:220px;
        }

    }
}

//-------------------------reglogCenter-------------------------
#reglogCenter{
    height:480px;
    width:100%;
    background:url(../img/reglog/loginbg.jpg) no-repeat center,center;
    .reglogCenter{
        height:480px;
        // background:green;
        position:relative;
        #reglogbox{
            height:391px;
            width:342px;
            background:#FFFFFF;
            position:absolute;
            top:46px;
            right:0;
            #regloglist{
                height:391px;
                width:342px;
                position:relative;
                overflow: hidden;
                ul li{
                    height:362px;
                    width:297px;
                    padding:29px 22px 0 23px;
                    // background:skyblue;
                    position:absolute;
                    display:block;
                    top:0;
                    right:0;
                }
                ul li:nth-child(1),ul li:nth-child(2){
                    p:nth-child(1){
                        margin-bottom:25px;
                        span:nth-child(1){
                            font-size:18px;
                            color:#686565;
                            font-weight:bolder;
                            margin-right:90px;
                        }
                        span:nth-child(2),span:nth-child(3){
                            font-size:11px; 
                        }
                        span:nth-child(2){
                            color:#999999;
                        }
                        span:nth-child(3){
                            color:#138CEE;
                            cursor:pointer;
                        }
                    }
                    p:nth-child(2){
                        height:14px;
                        width:297px;
                        line-height: 14px;
                        font-size:12px;
                        margin-bottom:5px;
                    }
                    p:nth-child(3),p:nth-child(4){
                        background:#F9F9F9;
                        margin-bottom:10px;
                        span{
                            width:44px;
                            height:40px;
                            display:inline-block;
                            vertical-align: middle;
                        }
                        input{
                            width:250px;
                            height:40px;
                            background:#F9F9F9;
                        }
                    }
                    p:nth-child(3) span{
                        background:url(../img/reglog/login_icon.png) no-repeat 17px -113px;   
                    }
                    p:nth-child(4) span{
                        background:url(../img/reglog/login_icon.png) no-repeat 17px -168px;
                    }
                }
                ul li:nth-child(1){
                    p:nth-child(5),p:nth-child(7){
                        display:inline-block;
                        margin-bottom:10px;
                        background:#F9F9F9;
                        height:40px;
                        width:176px;
                        margin-right:10px;
                        span{
                            width:44px;
                            height:40px;
                            display:inline-block;
                            vertical-align: middle;
                        }
                        input{
                            height:40px;
                            width:132px;
                            background:#F9F9F9;
                        }
                    }
                    p:nth-child(5) span{
                        background:url(../img/reglog/login_icon.png) no-repeat 17px -396px;   
                    }
                    p:nth-child(7) span{
                        background:url(../img/reglog/login_icon.png) no-repeat 17px -290px;
                    }
                    span:nth-child(6),span:nth-child(8){
                        height:40px;
                        width:106px;
                        background:red;
                        display:inline-block;
                        vertical-align: middle;
                        line-height:40px;
                        text-align:center;
                    }
                    #yanzhengma{font-weight:bolder;}
                    span:nth-child(8){
                        font-size:12px;
                        color:#FFFFFF;
                        background:#E5004B;
                        margin-bottom:10px;
                    }
                    p:nth-child(9){
                        font-size:12px;
                        color:#666666;
                        margin-bottom:10px;
                    }
                     p:nth-child(10){
                        width:295px;
                        height:44px;
                        background:#E5004B;
                        color:#F7E6FF;
                        font-size:18px;
                        text-align:center;
                        line-height:44px;
                        cursor:pointer;
                    }
                }
                ul li:nth-child(2){
                    #box{
                    width:297px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    position: relative;
                    background: #F29DBA;
                    font-size: 12px;
                    text-indent: 15px;
                    margin-bottom:20px;
                    color:#fff;
                    #color{
                        width: 0;
                        height: 100%;
                        text-align: center;
                        line-height: 40px;
                        font-size: 12px;
                        text-indent: 15px;
                        background: #A6E69A;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color:#fff;
                    }
                    #gun{
                        width: 50px;
                        height: 38px;
                        color:#F29DBA;
                        border:1px solid #F2F2F2;
                        background: #fff;
                        line-height: 40px;
                        text-align: center;
                        position: absolute;
                        font-size: 20px;
                        text-indent: 0;
                        top:0;
                        left: 0;
                        user-select: none;
                    }
                }

                    p:nth-child(6){
                        font-size: 12px;
                        color:#777777;
                        margin-bottom:16px;
                        span:nth-child(1){
                            margin-right:30px;
                        }
                        span:nth-child(2){
                            margin-right:54px;
                        }
                        span:nth-child(3){
                            color:#9F9F9F;
                        }
                    }
                    p:nth-child(7){
                        width:295px;
                        height:44px;
                        background:#E5004B;
                        color:#F7E6FF;
                        font-size:18px;
                        text-align:center;
                        line-height:44px;
                        margin-bottom:15px;
                    }
                    // #regBtn{cursor:pointer;}
                    p:nth-child(8){
                        color:#777777;
                        font-size:12px;
                        img:nth-child(1){
                        margin-right:10px;
                        }
                    }
                }
            }
        }
    }
}

//----------------------reglogDown-----------------------------
#reglogDown{
    height:144px;
    width:100%;
    background:#F3F3F3;
    .reglogDown{
        height:124px;
        // background:red;
        padding-top:20px;
        p{
           text-align:center;
        }
        p:nth-child(1){
            font-size:12px;
            color:#9C9C9C;
            margin-bottom:30px;
        }
        p:nth-child(2) img:nth-child(1){
            margin-right:4px;
        }
    }
}
