/* 
* @Author: Marte
* @Date:   2018-11-30 20:33:59
* @Last Modified by:   Marte
* @Last Modified time: 2018-11-30 20:38:49
*/
main {
  padding-top: 38px;
}
main .list_head {
  height: 35px;
  line-height: 35px;
  border: 1px solid #DADADA;
  font-size: 12px;
}
main .list_head .h_l {
  color: #000000;
  padding-left: 12px;
}
main .list_head .h_l input {
  margin-right: 5px;
}
main .list_head .h_l span {
  margin-left: 104px;
}
main .list_head .h_r {
  color: #666666;
}
main .list_head .h_r span:last-child {
  margin-right: 50px;
}
main .list_head .h_r span:nth-of-type(1) {
  margin-right: 156px;
}
main .list_head .h_r span:nth-of-type(2) {
  margin-right: 146px;
}
main .list_head .h_r span:nth-of-type(3) {
  margin-right: 89px;
}
main .cart_list {
  margin-bottom: 20px;
}
main .cart_list .list_part .list_title {
  margin-top: 10px;
  font-size: 12px;
  padding-left: 12px;
  border-bottom: 2px solid #B2B2B2;
  height: 36px;
  line-height: 36px;
}
main .cart_list .list_part .list_title .tit_l span {
  display: inline-block;
  background: red;
  width: 30px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}
main .cart_list .list_part .list_title .tit_l input {
  margin-right: 5px;
}
main .cart_list .list_part .list_con {
  font-size: 12px;
  padding: 20px 0;
  border: 1px solid #FDF4F7;
  border-top: none;
}
main .cart_list .list_part .list_con > div {
  float: left;
}
main .cart_list .list_part .list_con .good_check {
  padding: 42px 20px 0 20px;
}
main .cart_list .list_part .list_con .good_img img {
  width: 80px;
  height: 80px;
}
main .cart_list .list_part .list_con .good_name {
  margin-left: 16px;
  width: 420px;
  height: 50px;
}
main .cart_list .list_part .list_con .good_name a {
  color: #000;
}
main .cart_list .list_part .list_con .good_price {
  margin-left: 60px;
  color: #666666;
  width: 70px;
  text-align: center;
}
main .cart_list .list_part .list_con .good_num {
  margin-left: 108px;
  color: #777777;
  font-size: 0px;
}
main .cart_list .list_part .list_con .good_num input {
  font-size: 12px;
  outline: none;
}
main .cart_list .list_part .list_con .good_num .add, main .cart_list .list_part .list_con .good_num .sub {
  width: 22px;
  height: 24px;
  border: 1px solid #E5E5E5;
  background: #fff;
  cursor: pointer;
}
main .cart_list .list_part .list_con .good_num .sub {
  border-right: none;
}
main .cart_list .list_part .list_con .good_num .add {
  border-left: none;
}
main .cart_list .list_part .list_con .good_num .put {
  width: 46px;
  height: 22px;
  text-align: center;
  border: 1px solid #CCCCCC;
}
main .cart_list .list_part .list_con .good_total {
  margin-left: 96px;
  font-size: 14px;
  color: #C41F3A;
  font-weight: bold;
  width: 74px;
}
main .cart_list .list_part .list_con .good_total span {
  font-size: 12px;
}
main .cart_list .list_part .list_con .remove {
  margin-left: 55px;
}
main .cart_list .list_part .list_con .remove input {
  outline: none;
  background: none;
  cursor: pointer;
}
main .cart_list .list_part .list_active {
  background: #fffbf0;
}
main .account {
  border: 1px solid #E5E5E5;
  line-height: 60px;
  height: 60px;
  font-size: 12px;
  margin-bottom: 38px;
}
main .account .ac_l {
  margin-left: 15px;
}
main .account .ac_l input {
  margin-right: 5px;
}
main .account .ac_r > div {
  float: left;
}
main .account .ac_r .good_num {
  margin-right: 15px;
}
main .account .ac_r .good_num span {
  padding: 0 5px;
  font-size: 14px;
  color: #B0193F;
  font-weight: bold;
}
main .account .ac_r .good_sum {
  width: 225px;
}
main .account .ac_r .good_sum span {
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #93193E;
}
main .account .ac_r .buy_btn a {
  display: inline-block;
  height: 60px;
  width: 108px;
  background: #C41F3A;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
main .notip {
  text-align: center;
  height: 200px;
  padding-top: 20px;
  font-size: 40px;
  border: 1px solid #94193f;
  display: none;
}
main .notip a {
  display: block;
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background: #94193f;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
}
