#navOne {
  height: 30px;
  width: 100%;
  background: #333333;
}
#navOne .navOne {
  height: 30px;
}
#navOne .navOne .navOnel {
  height: 30px;
  color: #DBDBDB;
  font-size: 12px;
  line-height: 30px;
}
#navOne .navOne .navOnel a {
  color: #E5004A;
}
#navOne .navOne .navOner .navOnerli {
  margin-left: 25px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
#navOne .navOne .navOner .navOnerli a {
  color: #DBDBDB;
}
#navOne .navOne .navOner li i {
  display: inline-block;
  height: 12px;
  width: 14px;
  background: url(../img/index/index.png) no-repeat -10px 6px;
}
#navOne .navOne .navOner li:nth-child(4), #navOne .navOne .navOner li:nth-child(5) {
  margin-left: 0;
}
#navOne .navOne .navOner li:nth-child(3), #navOne .navOne .navOner li:nth-child(4) {
  width: 90px;
  position: relative;
}
#navOne .navOne .navOner .ulone {
  display: none;
  position: absolute;
  top: 30px;
  left: -10px;
}
#navOne .navOne .navOner .ulone li {
  display: block;
  height: 30px;
  background: #333333;
  width: 80px;
  text-align: center;
  line-height: 30px;
}
#navOne .navOne .navOner .ultwo {
  background: #333333;
  display: block;
  height: 260px;
  width: 130px;
  padding: 10px 0 0 10px;
  position: absolute;
  left: -40px;
  top: 30px;
  display: none;
  z-index: 999;
}
#navOne .navOne .navOner .ultwo li:nth-child(1) {
  display: block;
  height: 130px;
  width: 140px;
  background: url(../img/index/app.jpg) no-repeat;
}
#navOne .navOne .navOner .ultwo li:nth-child(2) {
  display: block;
  height: 130px;
  width: 140px;
  background: url(../img/index/weixin.jpg) no-repeat;
}
#navOne .navOne .navOner li:last-child {
  font-weight: bolder;
  width: 105px;
}
#navOne .navOne .navOner .ulthr {
  display: none;
  z-index: 9999;
}
#navOne .navOne .navOner .ulthr li {
  height: 30px;
  width: 104px;
  line-height: 30px;
  text-align: center;
  color: #DBDBDB;
  font-size: 12px;
  background: #333333;
  font-weight: normal;
}
#navOne .navOne .navOner .ulthr li:nth-child(2) {
  font-weight: bolder;
}
#navOne .navOne .navOner .navHover:hover .hoverCont {
  display: block;
}

#navTwo {
  height: 123px;
  width: 100%;
  background: #FFFFFF;
}
#navTwo .navTwo {
  height: 88px;
  padding-top: 35px;
}
#navTwo .navTwo .navTwol {
  margin-right: 112px;
}
#navTwo .navTwo .navTwoc {
  margin-right: 131px;
}
#navTwo .navTwo .navTwoc .navSearch {
  background: #E5004A;
  border-top: 4px solid #E5004A;
  border-bottom: 4px solid #E5004A;
  margin-bottom: 12px;
}
#navTwo .navTwo .navTwoc .navSearch span:nth-child(1) {
  display: inline-block;
  width: 35px;
  height: 32px;
  vertical-align: middle;
  background: url(../img/index/index.png) no-repeat 7px -14px;
}
#navTwo .navTwo .navTwoc .navSearch input {
  height: 32px;
  width: 441px;
}
#navTwo .navTwo .navTwoc .navSearch span:nth-child(3) {
  display: inline-block;
  height: 32px;
  width: 103px;
  line-height: 32px;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
}
#navTwo .navTwo .navTwoc .navTips {
  font-size: 12px;
  color: #666666;
}
#navTwo .navTwo .navTwoc .navTips .navTipsk {
  display: inline-block;
  margin-left: 20px;
}
#navTwo .navTwo .navTwor {
  background: #E5004A;
  border-top: 2px solid #E5004A;
  border-right: 2px solid #E5004A;
  border-bottom: 4px solid #E5004A;
}
#navTwo .navTwo .navTwor span {
  display: inline-block;
  height: 33px;
  vertical-align: middle;
}
#navTwo .navTwo .navTwor span:nth-child(1) {
  width: 33px;
  background: url(../img/index/index.png) no-repeat 8px -47px;
}
#navTwo .navTwo .navTwor span:nth-child(2) {
  width: 72px;
  color: #FAFFDC;
  font-size: 12px;
  line-height: 33px;
  text-align: center;
}
#navTwo .navTwo .navTwor span:nth-child(3) {
  width: 36px;
  background: #FFFFFF;
  font-size: 10px;
  color: #E5004A;
  font-weight: bolder;
  text-align: center;
  line-height: 33px;
}

#navThr {
  height: 38px;
  width: 100%;
  border-bottom: 1px solid #E5004A;
}
#navThr .navThr {
  height: 38px;
}
#navThr .navThr .navThrl {
  position: relative;
}
#navThr .navThr .navThrl .navThrls {
  height: 38px;
  width: 195px;
  line-height: 38px;
  font-size: 12px;
  color: #FAFFFF;
  background: #E5004A;
  padding-left: 15px;
}
#navThr .navThr .navThrl .navThrlx {
  height: 447px;
  width: 208px;
  background: #E5004A;
  display: block;
  z-index: 999;
  padding-left: 2px;
  position: absolute;
  top: 38px;
  left: 0;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx {
  width: 208px;
  height: 447px;
  background: url(../img/index/navThr.jpg) no-repeat 0px 415px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli {
  display: block;
  height: 42px;
  width: 208px;
  position: relative;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli i:nth-child(1) {
  height: 17px;
  width: 17px;
  display: inline-block;
  background: url(../img/index/index.png) no-repeat;
  position: absolute;
  left: 14px;
  top: 14px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navMenu {
  display: inline-block;
  line-height: 42px;
  font-size: 12px;
  color: #FFFFFF;
  position: absolute;
  left: 47px;
  top: 0px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli i:nth-child(3) {
  width: 4px;
  height: 6px;
  position: absolute;
  left: 180px;
  top: 18px;
  background: url(../img/index/index.png) no-repeat 0 -141px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont {
  display: none;
  height: 446px;
  width: 779px;
  background: #FFFFFF;
  position: absolute;
  top: 1px;
  left: 208px;
  border-right: 1px solid #E5004B;
  border-bottom: 1px solid #E5004B;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont .navContl, #navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont .navContr {
  float: left;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont .navContl {
  height: 430px;
  width: 553px;
  padding: 16px 0 0 25px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont .navContl .navContlli {
  margin-bottom: 15px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont .navContl .navContlli .navContllis {
  font-size: 12px;
  font-weight: bold;
  margin-right: 15px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont .navContl .navContlli a {
  font-size: 12px;
  color: #646464;
  padding: 0 11px 0 11px;
  border-left: 1px solid #646464;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont .navContr {
  width: 201px;
  height: 446px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli .navCont .navContr .navContrimg {
  width: 201px;
  height: 223px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli:hover {
  background: #FFFFFF;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli:hover .navMenu {
  color: #E5004B;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx .ulThrlxli:hover .navCont {
  display: block;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(1) i:nth-child(1) {
  background-position: 0 -157px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(2) i:nth-child(1) {
  background-position: 0 -183px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(3) i:nth-child(1) {
  background-position: 0 -216px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(4) i:nth-child(1) {
  background-position: 0 -243px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(5) i:nth-child(1) {
  background-position: 0 -273px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(6) i:nth-child(1) {
  background-position: 0 -303px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(7) i:nth-child(1) {
  background-position: 0 -333px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(8) i:nth-child(1) {
  background-position: 0 -363px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(9) i:nth-child(1) {
  background-position: 0 -393px;
}
#navThr .navThr .navThrl .navThrlx .ulThrlx li:nth-child(10) i:nth-child(1) {
  background-position: 0 -423px;
}
#navThr .navThr .navThrl #banright {
  position: absolute;
  top: 39px;
  left: 990px;
  z-index: 999;
}
#navThr .navThr .navThrr li {
  height: 38px;
  font-size: 14px;
  color: #333333;
  line-height: 38px;
  margin-left: 60px;
  font-weight: bolder;
}
#navThr .navThr .navThrr li:nth-child(4) {
  width: 104px;
}
#navThr .navThr .navThrr li:nth-child(4) i {
  display: inline-block;
  width: 30px;
  height: 38px;
  background: url(../img/index/index.png) no-repeat -115px -385px;
  vertical-align: middle;
}

#navFou {
  width: 100%;
  height: 447px;
}
#navFou #box {
  width: 100%;
  height: 447px;
  background: #d8d8d8;
  position: relative;
  overflow: hidden;
}
#navFou #box #imglist {
  width: 100%;
  height: 447px;
}
#navFou #box #imglist li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 447px;
}
#navFou #box #imglist li img {
  width: 100%;
  height: 447px;
}
#navFou #box #light {
  width: 500px;
  height: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  /*background: #ccc;*/
  text-align: center;
  font-size: 0;
}
#navFou #box #light span {
  display: inline-block;
  width: 44px;
  height: 12px;
  background: #CCCCCC;
  cursor: pointer;
  vertical-align: middle;
}
#navFou #box #light span:nth-child(1) {
  margin-right: 10px;
}
#navFou #box #light span.active {
  background: #E5004B;
}
#navFou #box #posibtn {
  width: 794px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#navFou #box #posibtn p {
  width: 50px;
  height: 60px;
  border-radius: 10px;
  background: #666666;
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  opacity: 0.5;
}
#navFou #box #posibtn p::selection {
  background: transparent;
}
#navFou #box #posibtn p:nth-child(1) {
  left: 10px;
}
#navFou #box #posibtn p:nth-child(2) {
  right: 10px;
}

#navFiv {
  height: 574px;
  width: 100%;
}
#navFiv .navFiv {
  height: 574px;
}
#navFiv .navFiv .navFivs {
  height: 82px;
  border-bottom: 1px solid #EDEDED;
  width: 1167px;
  padding: 44px 18px 0 15px;
  position: relative;
}
#navFiv .navFiv .navFivs .navFivso i {
  width: 39px;
  height: 24px;
  display: inline-block;
  background: url(../img/index/index.png) no-repeat -95px 0;
  vertical-align: middle;
}
#navFiv .navFiv .navFivs .navFivso span:nth-child(2) {
  display: inline-block;
  font-size: 22px;
  color: #000000;
  width: 116px;
}
#navFiv .navFiv .navFivs .navFivso span:nth-child(3) {
  display: inline-block;
  font-size: 12px;
  color: #999999;
}
#navFiv .navFiv .navFivs .navFivso a {
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #D41D55;
}
#navFiv .navFiv .navFivs img {
  position: absolute;
  top: 94px;
  left: 828px;
}
#navFiv .navFiv .navFivs .navFivst p {
  position: absolute;
}
#navFiv .navFiv .navFivs .navFivst p:nth-child(1) {
  width: 360px;
  height: 32px;
  background: #E5004A;
  border-radius: 0 18px 18px 0;
  padding-top: 4px;
  top: 110px;
  left: 0;
}
#navFiv .navFiv .navFivs .navFivst p:nth-child(1) span:nth-child(2n-1) {
  font-size: 14px;
}
#navFiv .navFiv .navFivs .navFivst p:nth-child(1) span:nth-child(2n) {
  font-size: 20px;
  font-weight: bold;
}
#navFiv .navFiv .navFivs .navFivst p:not(first-child) {
  width: 90px;
  height: 26px;
  border-radius: 13px;
  background: #CCCCCC;
  font-size: 14px;
  color: #FFFFFA;
  text-align: center;
  line-height: 26px;
  top: 114px;
}
#navFiv .navFiv .navFivs .navFivst p:nth-child(2) {
  left: 630px;
}
#navFiv .navFiv .navFivs .navFivst p:nth-child(3) {
  background: #E5004A;
  right: 290px;
}
#navFiv .navFiv .navFivs .navFivst p:nth-child(4) {
  right: 100px;
}
#navFiv .navFiv .navFivx {
  height: 429px;
  padding-top: 17px;
}
#navFiv .navFiv .navFivx p, #navFiv .navFiv .navFivx ul {
  float: left;
}
#navFiv .navFiv .navFivx p:nth-child(1), #navFiv .navFiv .navFivx p:nth-child(3) {
  width: 20px;
  height: 196px;
  padding-top: 160px;
}
#navFiv .navFiv .navFivx p:nth-child(1) i, #navFiv .navFiv .navFivx p:nth-child(3) i {
  display: block;
  width: 20px;
  height: 35px;
  background: url(../img/index/index.png) no-repeat;
}
#navFiv .navFiv .navFivx p:nth-child(1) i {
  background-position: -100px -197px;
}
#navFiv .navFiv .navFivx p:nth-child(3) i {
  background-position: -98px -160px;
}
#navFiv .navFiv .navFivx #navFivxc {
  height: 356px;
  width: 1160px;
  display: block;
}
#navFiv .navFiv .navFivx #navFivxc li {
  display: block;
  float: left;
  height: 306px;
  width: 226px;
  padding: 50px 0 0 6px;
}
#navFiv .navFiv .navFivx #navFivxc li img {
  height: 220px;
  width: 220px;
  margin-bottom: 12px;
}
#navFiv .navFiv .navFivx #navFivxc li p {
  font-size: 12px;
  color: #666666;
}
#navFiv .navFiv .navFivx #navFivxc li span {
  display: block;
  font-size: 14px;
  color: #E5004B;
  font-weight: bold;
  margin-bottom: 6px;
}
#navFiv .navFiv .navFivx #navFivxc li p:nth-child(2) {
  margin-bottom: 17px;
}

#mainOne {
  height: 1154px;
  width: 100%;
}
#mainOne .mainOne {
  height: 1154px;
}
#mainOne .mainOne .mainOnet {
  height: 44px;
  width: 1169px;
  padding: 4px 17px 0 14px;
}
#mainOne .mainOne .mainOnet i {
  width: 39px;
  height: 24px;
  display: inline-block;
  background: url(../img/index/index.png) no-repeat -95px -28px;
}
#mainOne .mainOne .mainOnet span:nth-child(2) {
  font-size: 24px;
  color: #1F1F1F;
  margin-right: 20px;
}
#mainOne .mainOne .mainOnet span:nth-child(3) {
  font-size: 12px;
  color: #999999;
}
#mainOne .mainOne .mainOnet a {
  float: right;
  font-size: 12px;
  color: #D71D55;
}
#mainOne .mainOne .mainOnef {
  height: 1106px;
  width: 1194px;
  padding-left: 6px;
}
#mainOne .mainOne .mainOnef div {
  height: 273px;
  width: 588px;
  float: left;
}
#mainOne .mainOne .mainOnef div img {
  margin-bottom: 12px;
}
#mainOne .mainOne .mainOnef div p {
  float: right;
  font-size: 12px;
}
#mainOne .mainOne .mainOnef div:nth-child(2n-1) {
  margin-right: 12px;
}

#mainTwo {
  height: 2380px;
  width: 100%;
}
#mainTwo .mainTwo {
  height: 2380px;
}
#mainTwo .mainTwo .mainTwoA {
  border-top: 4px solid #C388B3;
}
#mainTwo .mainTwo .mainTwoB {
  border-top: 4px solid #FD686E;
}
#mainTwo .mainTwo .mainTwoC {
  border-top: 4px solid #97BD50;
}
#mainTwo .mainTwo .mainTwoD {
  border-top: 4px solid #A285DD;
}
#mainTwo .mainTwo .mainTwoE {
  border-top: 4px solid #FBAE3B;
}
#mainTwo .mainTwo .mainTwoZ {
  height: 441px;
  margin-bottom: 31px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl, #mainTwo .mainTwo .mainTwoZ .mainTwoZc, #mainTwo .mainTwo .mainTwoZ .mainTwoZr {
  height: 441px;
  float: left;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl {
  width: 200px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoAls {
  background: url(../img/index/floor1.png) no-repeat;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoBls {
  background: url(../img/index/floor2.png) no-repeat;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoCls {
  background: url(../img/index/floor3.png) no-repeat;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoDls {
  background: url(../img/index/floor4.png) no-repeat;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoEls {
  background: url(../img/index/floor5.png) no-repeat;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZls {
  width: 200px;
  height: 58px;
  background-size: 200px 58px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZls p {
  font-size: 26px;
  color: #EDF3FF;
  text-align: center;
  line-height: 58px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx {
  height: 383px;
  width: 200px;
  padding-left: 2px;
  border-left: 1px solid #F1F1F1;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxs p {
  font-size: 12px;
  text-align: center;
  line-height: 38px;
  float: left;
  height: 38px;
  width: 99px;
  color: #666666;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx {
  height: 175px;
  width: 195px;
  background: red;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 {
  width: 195px;
  height: 175px;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 .imglist1 {
  width: 195px;
  height: 175px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 .imglist1 li {
  position: absolute;
  left: 0;
  top: 0;
  width: 195px;
  height: 175px;
  text-align: center;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 .imglist1 li .floorBan {
  width: 150px;
  height: 55px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 .posibtn1 {
  width: 195px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /*background: #ccc;*/
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 .posibtn1 p {
  width: 22px;
  height: 33px;
  /*background: #FFFFFF;*/
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 30px;
  color: #DBDBDB;
  text-align: center;
  line-height: 33px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 .posibtn1 p::selection {
  background: transparent;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 .posibtn1 p:nth-child(1) {
  left: 0px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZl .mainTwoZlx .mainTwoZlxx .box1 .posibtn1 p:nth-child(2) {
  right: 0px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZc {
  width: 400px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZc img {
  width: 400px;
  height: 441px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr {
  width: 600px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr div {
  border-left: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  float: left;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr div p:nth-child(1) {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr div p:nth-child(2) {
  font-size: 12px;
  color: #E5004B;
  margin-bottom: 10px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr div:nth-child(3n) {
  border-right: 1px solid #EDEDED;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr .mainTwoZrcon1 {
  width: 198px;
  height: 232px;
  padding-top: 20px;
  text-align: center;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr .mainTwoZrcon1 img {
  height: 165px;
  width: 165px;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr .mainTwoZrcon2 {
  width: 198px;
  height: 168px;
  padding-top: 20px;
  text-align: center;
}
#mainTwo .mainTwo .mainTwoZ .mainTwoZr .mainTwoZrcon2 img {
  height: 102px;
  width: 102px;
}

#mainThr {
  height: 252px;
  width: 100%;
}
#mainThr .mainThr {
  height: 252px;
}
#mainThr .mainThr .mainThrs {
  height: 48px;
  width: 1179px;
  padding: 34px 0 0 21px;
}
#mainThr .mainThr .mainThrs i {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url(../img/index/index.png) no-repeat -100px -488px;
}
#mainThr .mainThr .mainThrs span:nth-child(2) {
  font-size: 24px;
  margin-right: 20px;
}
#mainThr .mainThr .mainThrs span:nth-child(3) {
  font-size: 12px;
  color: #999999;
}
#mainThr .mainThr .mainThrx img:nth-child(1), #mainThr .mainThr .mainThrx img:nth-child(2) {
  margin-right: 12px;
}

#footerOne {
  width: 100%;
  height: 108px;
  background: #E5004B;
}
#footerOne .footerOne {
  height: 78px;
  width: 1130px;
  padding: 30px 0 0 70px;
}
#footerOne .footerOne img {
  margin-right: 140px;
}
#footerOne .footerOne img:last-child {
  margin-right: 0;
}

#footerTwo {
  height: 161px;
  width: 100%;
  background: #333333;
  border-bottom: 1px solid #666666;
}
#footerTwo .footerTwo {
  height: 131px;
  width: 1200px;
  padding-top: 30px;
}
#footerTwo .footerTwo dl, #footerTwo .footerTwo div {
  float: left;
}
#footerTwo .footerTwo dl {
  width: 170px;
  border-right: 1px solid #666666;
  text-align: center;
}
#footerTwo .footerTwo dl dt {
  font-size: 12px;
  color: #DBDBDB;
  font-weight: bold;
  line-height: 26px;
}
#footerTwo .footerTwo dl dd a {
  font-size: 11px;
  color: #666666;
  line-height: 26px;
}

#footerThr {
  width: 100%;
  height: 158px;
  background: #333333;
}
#footerThr .footerThr {
  height: 142px;
  padding-top: 16px;
  text-align: center;
}
#footerThr .footerThr p:nth-child(1) {
  margin-bottom: 6px;
}
#footerThr .footerThr p:nth-child(1) a {
  font-size: 12px;
  color: #666666;
  display: inline-block;
  width: 68px;
  border-right: 1px solid #666666;
}
#footerThr .footerThr p:nth-child(1) a:last-child, #footerThr .footerThr p:nth-child(1) a:first-child {
  border-right: 0;
}
#footerThr .footerThr p:nth-child(2) {
  margin-bottom: 20px;
}
#footerThr .footerThr p:nth-child(2) a, #footerThr .footerThr p:nth-child(3) {
  font-size: 12px;
  color: #666666;
}
#footerThr .footerThr p:nth-child(3) {
  margin-bottom: 4px;
}

#nav_right {
  height: 728px;
  width: 34px;
  background: skyblue;
  position: fixed;
  right: 0;
  top: 0;
}

/*# sourceMappingURL=index.css.map */
